.mdc-tab-bar {
    margin-top: 64px; /* Ajusta el valor según sea necesario */
  }

  /* O ajusta el posicionamiento del top-app-bar */
  .mdc-top-app-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }